.veredas {
    &-dock {
        &-container {
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100vw;
            max-width: 100vw;
            border-top: 1px solid #D1D1D1;
        }

        &-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.25rem;
            background: none;
            cursor: pointer;
            width: 25vw;
            height: 5.5rem;

            &-active {
                filter: brightness(0) saturate(100%) invert(75%) sepia(32%) saturate(516%) hue-rotate(92deg) brightness(98%) contrast(86%)
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-label {
                font-size: 0.75rem;

                &-active {
                    color: #66CC8A;
                }
            }
        }
    }
}