@use "../vendor/bulma" as *;

.veredas {
    &-control {
        @extend .control;
    }

    &-text-input {
        @extend .input;
    }

    &-button {
        @extend .button;
    }

    &-button-group {
        @extend .buttons;
        display: flex;
        gap: 0.5rem;
        max-width: 100vw;
        overflow: auto;
        flex-wrap: nowrap;
    }
}