@use "../base/variable" as *;
@use "../vendor/bulma" as *;

.veredas {
    &-header {
        height: $header-height;
        width: 100vw;
        padding: 1rem 1rem 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-spacer {
            width: 1.5rem;
            min-width: 1.5rem;
            flex-grow: 1;
        }

        &-title {
            @extend .title;
            @extend .has-text-black;

            @media (prefers-color-scheme: dark) {
                color: #fff !important;
            }

            font-size: 12pt;
            margin-bottom: 0 !important;
            flex-grow: 0;
            text-align: center;
            font-weight: bold;
            flex-shrink: 0;
        }

        &-settings-icon {
            width: 1.5rem;
            min-width: 1.5rem;
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;

            &-fa {
                margin-right: 1rem;
            }
        }
    }
}