@use "../vendor/fontawesome" as *;

.veredas {
    &-icon {
        @extend .fa-solid;
        cursor: pointer;

        &-magnifying-glass {
            @extend .fa-magnifying-glass;
        }

        &-sliders {
            @extend .fa-sliders;
        }

        &-check {
            @extend .fa-check;
        }

        &-xmark {
            @extend .fa-xmark;
        }

        &-magnifying-glass-location {
            @extend .fa-magnifying-glass-location;
        }

        &-square-plus {
          @extend .fa-square-plus;
        }

        &-user {
            @extend .fa-user;
        }

        &-map {
            @extend .fa-map;
        }

        &-bookmark {
            @extend .fa-bookmark;
        }
    }
}