@use "../base/variable" as *;

.veredas {
    &-home {
        &-map {
            height: calc(100vh - $header-height - $dock-height);
        }

        &-text-search {
            width: calc(100% - 2rem);
            margin-top: 0.5rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }

        &-filter-controls {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            padding-right: 1rem;
            padding-left: 1rem;
        }

        &-controls-overlay {
            position: absolute;
            top: $header-height;
            left: 0;
            right: 0;
            z-index: 1000;
            pointer-events: none;

            & > div {
                pointer-events: auto;
            }
        }
    }
}