@use "variable" as *;

.veredas {
    &-app {
        &-container {
            min-height: calc(100vh - $header-height - $dock-height);
            max-height: calc(100vh - $header-height - $dock-height);
            overflow: auto;
        }
    }
}